<div *ngFor="let cocktail of cocktails">
  <div *ngFor="let drink of drinks">
    <h1><strong>Nome: {{drink.strDrink}}</strong></h1>
    <h2>Categoria: {{drink.strCategory}}</h2>
    <h2>Alcolico: {{drink.strAlcoholic}}</h2>
    <h2>Ingrediente 1: {{drink.strIngredient1}}</h2>
    <h2>Ingrediente 2: {{drink.strIngredient2}}</h2>
    <h2>Ingrediente 3: {{drink.strIngredient3}}</h2>
    <h2>Ingrediente 4: {{drink.strIngredient4}}</h2>
    <h2>Ingrediente 5: {{drink.strIngredient5}}</h2>
    <h2>{{drink.strInstructionsIT}}</h2>
  </div>
</div>
